<footer>
    <div id="footer-column">
        <h2>Volt</h2>
        <p>Engineered for high-voltage movement.
            Bridging the gap between performance culture
            and high-fashion aesthetics.</p>
        <div class="footer-socials">

            <a href="#">
                <img src="../assets/icons/Container.svg" alt="">
            </a>
            <a href="#">
                <img src="../assets/icons/Container-1.svg" alt="">
            </a>
            <a href="#">
                <img src="../assets/icons/global.svg" alt="">
            </a>
        </div>
    </div>
    <div id="footer-column">
        <h3>SHOP</h3>
        <ul>
            <li>Running</li>
            <li>Lifestyle</li>
            <li>streetwear</li>
            <li>Classic</li>
        </ul>
    </div>

    <div id="footer-column">
        <h3>COMPANY</h3>
        <ul>
            <li>About</li>
            <li>Story</li>
            <li>Design</li>
        </ul>
    </div>

    <div id="footer-column">
        <h3>NEWSLETTER</h3>
        <P>Get early access to drops</P>
        <form method="GET">
            <input type="email" placeholder="Email">
            <button type="submit">JOIN</button>
        </form>
    </div>
    <hr>
    <!-- Footer Bottom -->
    <div class="footer-bottom">

        <p>
            <code>&copy;</code> 2024 VOLT ECHELON. ALL RIGHTS RESERVED.
        </p>

        <div class="footer-legal">
            <a href="#">PRIVACY</a>
            <a href="#">TERMS</a>
        </div>

    </div>
</footer>