<header>
    <div class="logo">Volt</div>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../shop.html">Shop</a></li>
            <li><a href="#">New Arrivals</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="../about.html">About</a></li>
        </ul>
    </nav>
    <section id="actions">
        <div>
            <img src="../assets/icons/search.svg" alt="">
        </div>
        <div>
            <img src="../assets/icons/cart.svg" alt="">
        </div>
        <div>
            <img src="../assets/icons/profile.svg" alt="">
        </div>
    </section>
</header>