
.product {
    width: 15rem;
    aspect-ratio: 1 / 1;
    height: 25rem;
    padding: 1rem;
    background-color: #211f1f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}


/* Product image */
.product > img {
    width: 100%;
    height: 57%;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}


/* Product information */
.product .data {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
}

.data > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

/* Category + price */
.category {
    font-size: 0.7rem;
    font-weight: 700;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #d6d0b5;
}

.price {
    font-size: 0.8rem;
    font-weight: 700;

    color: #C3F400;

    align-self: flex-end;

    margin-top: -10px;
}
.price::before {
    content: "$ ";
    font-size: 0.8rem;
    font-weight: 700;

    color: #C3F400;
}

/* Product name */
.name { 
    margin: 10px 0 0;

    font-size: 16px;
    font-weight: 400;

    color: white;

    text-transform: uppercase;
}

.add-product {
    background-color: #C3F400;
    color: #000000;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease-in-out;
}
.add-product:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(195, 244, 0, 0.291);
}